<div class="todos">
    <form>
        <input type="text" name = "inputToDo"
         placeholder="Enter todo ..."
         class = "todo-input"
         [(ngModel)] = "inputToDo"
        >
        <button></button>
    </form>
    <div class="todo {{(todo.completed) ? 'done': ''}}" *ngFor = "let todo of todos; let i = index">
        <div class="id">{{i}}</div>
        <div class="content">{{todo.content}}</div>
        <button class = "delete" (click) = "deleteTodo(i)">Remove</button>
    </div>
</div>
